<div class="box grid_16">
	<h2 class="box_head"><%= @title %></h2>
	<div class="block">
		<%= form_for(@user, :html => { :class => "validate_form"}) do |f| %>
			<% if @user.errors.any? %>
				<div class="grid_16 box clearfix">
				<div class="section">
					<% @user.errors.messages.values.each do |msg| %>
						<div class="alert dismissible alert_red">
							<img width="24" height="24" src="/assets/icons/small/white/alarm_bell.png">
							<%= msg[0] %>
						</div>
					<% end %>
    			</div>
				</div>
			<% end %>
			<div class="columns clearfix">
				<div class="col_50">
					<fieldset class="label_side label_small top">
						<label for="text_field_inline">Name</label>
						<div>
							<%= f.text_field :name, :class => "required" %>
							<div class="required_tag"></div>
						</div>
					</fieldset>
				</div>
				<div class="col_50">
					<fieldset class="label_side label_small top right">
						<label for="text_field_inline">Username</label>
						<div>
							<%= f.text_field :username, :class => "required" %>
							<div class="required_tag"></div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="columns clearfix">
				<div class="col_50">
					<fieldset class="label_side label_small">
						<label for="text_field_inline">Email</label>
						<div>
							<%= f.text_field :email, :class => "required_email" %>
							<div class="required_tag"></div>
						</div>
					</fieldset>
				</div>
				<div class="col_50">
					<fieldset class="label_side label_small right">
						<label for="text_field_inline">Cell<span>Neccesary for CCC Users.</span></label>
						<div>
							<%= f.text_field :cell_number %>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="columns clearfix">
				<div class="col_50">
					<fieldset class="label_side label_small">
						<label for="text_field_inline">Role</label>
						<div>
							<%= f.select :role, User::ROLES, {}, {:class => "uniform full_width"} %></p>
							<%# f.collection_select(:role, User::ROLES, :to_s, :titleize, {}, {:class => "uniform full_width"}) %>
							<div class="required_tag"></div>
						</div>
					</fieldset>
				</div>
				<div class="col_50">
					<fieldset class="label_side label_small right">
						<label for="text_field_inline">Password</label>
						<div>
							<%= f.password_field :password, :class => "required" %>
							<div class="required_tag"></div>
						</div>
					</fieldset>
				</div>
			</div>
			

	</div>
</div>


<div class="box grid_16 clearfix" id="user_address" style="display:none;">
	<h2 class="box_head" id="form_title">DCPL</h2>
	<div class="block">
		<div class="columns clearfix">
			<div class="col_50">
				<fieldset class="label_side label_small">
					<label for="text_field_inline">Dcpl</label>
					<div>
     					<%= f.select(:dcpl_id, Dcpl.order("name").collect{ |s| [s.name.titleize, s.id]}, {}, {:class => "full_width"}) %>
					</div>
				</fieldset>			
			</div>
		</div>	
	</div>
</div>

<div class="grid_16 box clearfix">
	<div class="indented_button_bar clearfix">

		<button class="blue" type="submit">
			<span>Submit</span>
		</button>

		<button class="light send_right" type="reset">
			<span>Reset</span>
		</button>

	</div>
</div>

<% end %>