<%= form_for(@order, :html => { :class => "validate_form"}) do |f| %>
	
<% if @order.errors.any? %>
	<div class="grid_16 box clearfix">
	<div class="section">
		<% @order.errors.messages.values.each do |msg| %>
			<div class="alert dismissible alert_red">
				<img width="24" height="24" src="/assets/icons/small/white/alarm_bell.png">
				<%= msg[0] %>
			</div>
		<% end %>
    </div>
	</div>
<% end %>


<div class="box grid_16">
	<h2 class="box_head"><%= @title %></h2>
	<div class="block" style="display:block;">
		<div class="columns clearfix">
			<div class="col_50">
				<fieldset class="label_side label_small">
					<label for="text_field_inline">Origin</label>
					<div>
						<% 
							if current_user.is_doctor?
								doctorss = User.doctors.where("id = ?", current_user.id)
							else
								doctorss = User.doctors
							end
						%>
     					<%= f.select(:origin_user_id, doctorss.order("name").collect{ |s| [s.name.titleize, s.id]}, {}, {:class => "uniform full_width"}) %>
					</div>
				</fieldset>
			</div>
		</div>		

		<div class="columns clearfix">
			<div class="col_50">
				<fieldset class="label_side label_small bottom left">
					<label for="text_field_inline">Type</label>
					<div>
     					<%= f.select(:order_type_id, OrderType.where("name = 'Samples'").order("name").collect{ |s| [s.name.titleize, s.id]}, {:include_blank => false }, {:class => "uniform full_width"} ) %>
					</div>
				</fieldset>
			</div>
		</div>
			
	</div>
</div>


<div class="box grid_16 clearfix" id="order_form">
	<h2 class="box_head" id="form_title">Samples</h2>
		<%= f.fields_for :items do |builder| %>

			<%= render 'item_fields', f: builder %>

		<% end %>
	<div id="order_form2"></div>
</div>

<div class="grid_16 box clearfix">
	<div class="indented_button_bar clearfix">
		<p><%= link_to_add_fields "Add Samples", f, :items %></p>
	</div>
</div>

<div class="box grid_16 clearfix">
	<h2 class="box_head" id="form_title">Additional Info</h2>
	<div class="block">

			<div class="columns clearfix">
				<div class="col_50 top">
					<fieldset class="label_side label_small">
						<label for="text_field_inline">Delivery Site</label>
						<div>
							<% if current_user.is_onsite? %>
								<%= f.select(:delivery_user_id, User.sites.where("id = ?",current_user.id).order("name").collect{ |s| [s.name.titleize, s.id]}, {}, {:class => "uniform full_width"}) %>
							<% else %>
     							<%= f.select(:delivery_user_id, User.sites.order("name").collect{ |s| [s.name.titleize, s.id]}, {}, {:class => "uniform full_width"}) %>
     						<% end %>
     					
 						</div>
					</fieldset>
				</div>
			</div>

			<% if current_user.is_carrier? %>	

				<%= f.hidden_field :carrier_id, :value => current_user.id %>	
				<div class="columns clearfix">
					<div class="col_100">
						<fieldset class="label_side top clearfix">
							<label>Area</label>
							<div>
								<%= f.text_field :area %>
							</div>
						</fieldset>
					</div>
				</div>

				<fieldset class="label_side">
					<label>Carrier</label>
					<div>
						<%= f.text_field :carrier_name, :class => "required" %>
					</div>
				</fieldset>
			
			<% elsif current_user.is_onsite? %>

				<div class="columns clearfix">
					<div class="col_50">
						<fieldset class="label_side label_small">
							<label for="text_field_inline">Carrier Company</label>
							<div>
     						<%= f.select(:carrier_id, User.carrier_companies.order("name").collect{ |s| [s.name.titleize, s.id]}, {}, {:class => "uniform full_width"}) %>
 							</div>
						</fieldset>
					</div>
				</div>

			<% end %>

			<fieldset>
				<label>Additional Comments</label>
				<div class="clearfix">
					<%= f.text_area :comments, :class => "autogrow", :rows => "3" %>
				</div>
			</fieldset>			
			
	</div>
</div>

<div class="grid_16 box clearfix">
	<div class="indented_button_bar clearfix">

		<button class="blue" type="submit">
			<span>Submit</span>
		</button>

		<button class="light send_right" type="reset">
			<span>Reset</span>
		</button>

	</div>
</div>

<% end %>