<%= form_tag process_carrier_order_path(1) do %>

<table class=" datatable">
	<thead>
		<tr>
			<th>Date</th>
			<th>Origin</th>
			<th>Order</th>
			<th>Tracking #</th>
			<% if current_user.is_carrier? %>
			<th>Area</th>
			<th>Carrier</th>
			<% end %>
			<th>Received By</th>
			<th></th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>

		<% @orders.each do |order| %>
			<tr>
				<td align="center" valign="middle"><%= nice_date(order.created_at) %></td>
				<td align="center" valign="middle"><%= order.origin_user.name %></td>
				<td align="center" valign="middle"><%= link_to "#{order.items.first.quantity} - #{order.items.first.sample_type.name}", order_path(order) %></td>
				<td align="center" valign="middle"><%= order.id %></td>
				<% if ((order.carrier_name == '' or order.carrier_name == nil) or (order.area == '' or order.carrier_name == nil)) and current_user.is_carrier? %>
   						<td><%= text_field_tag "area#{order.id}" %></td>
   						<td><%= text_field_tag "carrier_name#{order.id}" %></td>
   						<td></td>
   						<%= hidden_field_tag "is_assign#{order.id}", "yes" %>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Assign</span>
							</button>
						</td>
				<% elsif order.picked_up_at == nil %>
						<% if current_user.is_carrier? %>
						<td align="center" valign="middle"><%= order.area %></td>
						<td align="center" valign="middle"><%= order.carrier_name %></td>
						<% end %>
						<td align="center" valign="middle"></td>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Picked Up</span>
							</button>
						</td>
				<% elsif order.delivered_at == nil %>
						<% if current_user.is_carrier? %>
						<td align="center" valign="middle"><%= order.area %></td>
						<td align="center" valign="middle"><%= order.carrier_name %></td>
						<% end %>
   						<td><%= text_field_tag "picked_up_by#{order.id}" %></td>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Delivered</span>
							</button>
						</td>
				<% else %>
					<% if current_user.is_carrier? %>
					<td align="center" valign="middle"><%= order.area %></td>
					<td align="center" valign="middle"><%= order.carrier_name %></td>
					<% end %>
					<td align="center" valign="middle"><%= order.picked_up_by %></td>
					<td></td>
				<% end %>
				<td align="center" valign="middle"><%= order.status %></td>
			</tr>
		<% end %>

	</tbody>
</table>
<% end %>


