<%= form_tag process_carrier_order_path(1) do %>

<table class=" datatable">
	<thead>
		<tr>
			<th>Date</th>
			<th>Origin</th>
			<th>Order</th>
			<th>Tracking #</th>
			<% if current_user.is_carrier? %>
			<th>Area</th>
			<th>Driver</th>
			<% end %>
			<th>Received By</th>
			<th></th>
			<th>Status</th>
			<% if @sstatus != "Delivered" and @sstatus != "" %>
				<th></th>
			<% end %>

		</tr>
	</thead>
	<tbody>

		<% @orders.each do |order| %>
			<tr>
				<td align="center" valign="middle"><%= nice_date(order.created_at) %></td>
				<td align="center" valign="middle"><%= order.origin_user.name if order.origin_user %></td>
				<% if order.order_type_id == 1 %>
					<td align="center" valign="middle"><%= link_to "#{order.items.first.quantity} - #{order.items.first.sample_type.name}", order_path(order) %></td>
				<% elsif order.order_type_id == 4 %>
					<td align="center" valign="middle"><%= link_to "#{order.description}", order_path(order) %></td>
				<% end %>
				<td align="center" valign="middle"><%= order.id %></td>
				<% if ((order.picked_up_by_id == '' or order.picked_up_by_id == nil) or (order.area == '' or order.area == nil)) and current_user.is_carrier? %>
   						<td><%= text_field_tag "area#{order.id}" %></td>
   						<td>
					    	<select name="carrier_name<%= order.id %>" class="full_width" id="carrier_name<%= order.id %>">
				            	<%= options_for_select(User.drivers.order("name").collect{ |s| [s.name.titleize, s.id]}) -%>
   							</select>
   						</td>
   						<td></td>
   						<%= hidden_field_tag "is_assign#{order.id}", "yes" %>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Assign</span>
							</button>
						</td>
				<% elsif order.picked_up_at == nil %>
						<% if current_user.is_carrier? %>
						<td align="center" valign="middle"><%= order.area %></td>
						<td align="center" valign="middle"><%= order.driver.name if order.driver %></td>
						<% end %>
						<td align="center" valign="middle"></td>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Picked Up</span>
							</button>
						</td>
				<% elsif order.delivered_at == nil %>
						<% if current_user.is_carrier? %>
						<td align="center" valign="middle"><%= order.area %></td>
						<td align="center" valign="middle"><%= order.driver.name if order.driver %></td>
						<% end %>
   						<td><%= text_field_tag "picked_up_by#{order.id}" %></td>
						<td align="center" valign="middle">
							<button class="blue" type="submit" name="assign" value="<%= order.id %>">
								<span>Delivered</span>
							</button>
						</td>
				<% else %>
					<% if current_user.is_carrier? %>
					<td align="center" valign="middle"><%= order.area %></td>
					<td align="center" valign="middle"><%= order.driver.name if order.driver %></td>
					<% end %>
					<td align="center" valign="middle"><%= order.picked_up_by %></td>
					<td></td>
				<% end %>
				<td align="center" valign="middle"><%= order.status %></td>

				<% if @sstatus != "Delivered" and @sstatus != "OrderCreated" and @sstatus != "" %>
					<td><%= check_box_tag("edit[#{order.id}]") %></td>
				<% end %>

			</tr>
		<% end %>

	</tbody>
</table>
<% if @sstatus != "Delivered" and @sstatus != "OrderCreated" and @sstatus != "" %>
	<div class="box grid_8 tabs">
	</div>
	<div class="box grid_8 align_right2">
		<div class="block compressed">
			<form class="validate_form">
			<% if @sstatus == "CarrierConfirmation" %>
			<fieldset class="label_side top">
				<label>Area</label>
				<div>
					<%= text_field_tag "area" %>
				</div>
			</fieldset>
			<fieldset class="label_side">
				<label>Driver</label>
				<div>
					<select name="carrier_name" class="full_width" id="carrier_name">
				       	<%= options_for_select(User.drivers.order("name").collect{ |s| [s.name.titleize, s.id]}) -%>
   					</select>
				</div>
			</fieldset>
			<% elsif @sstatus == "InTransit" %>
			<fieldset class="label_side top">
				<label>Received By</label>
				<div>
					<%= text_field_tag "picked_up_by" %>
				</div>
			</fieldset>
			<% elsif @sstatus == "WaitingForCarrier" %>

			<% end %>
			<div class="button_bar clearfix">
				<button class="small dark send_right" type="submit" name="assign" value="<%= @sstatus %>">
					<div class="ui-icon ui-icon-circle"></div>
					<span>Submit</span>
				</button>
			</div>
			</form>
		</div>
	</div>
<% end %>

<% end %>
