<div class="flat_area grid_16">
	<h2><%= @title %></h2>

	<div class="box grid_16 single_datatable">
		<% if current_user.is_doctor? %>
			<div id="dtdoctor" class="no_margin">
			<%= render "table_doctor" %>
		<% elsif current_user.is_onsite? %>
			<div id="dtonsite" class="no_margin">
			<%= render "table_onsite" %>
		<% elsif current_user.is_carrier? or current_user.is_cpld? %>
			<div id="dtcarrier" class="no_margin">
			<%= render "table_carrier" %>
		<% else %>
			<div id="dtadmin" class="no_margin">
			<%= render "table_admin" %>
		<% end %>
		</div>
	</div>
</div>

<% if current_user.role != 5 %>
<div class="flat_area grid_16">
	<div class="align_right"><p><h2><%= link_to 'Add Order', new_order_path %></h2></p></div>
</div>
<% end %>