<div class="box grid_16">
  <h2 class="box_head"><%= @title %></h2>
  <div class="block">
        <fieldset>
          <label>Origin</label>
            <div>
              <%= @order.origin_user.name if @order.origin_user %>
            </div>
        </fieldset>

        <fieldset>
          <label>Address</label>
            <div>
              <%= @order.origin_user.address if @order.origin_user %>
            </div>
        </fieldset>

        <fieldset>
          <label>Type</label>
          <div>
              <%= @order.order_type.name if @order.order_type %>
          </div>
        </fieldset>
      
  </div>
</div>

<% if @order.order_type_id == 1 %>
<div class="box grid_16 clearfix" id="order_form">
  <h2 class="box_head" id="form_title">Samples</h2>

  <% for sample in @order.items %>
  <h2 class="box_head" id="form_title"></h2>
  <div class="block">

    <fieldset>
      <label>How Many?</label>
      <div>
        <%= sample.quantity%>
      </div>
    </fieldset>
       
    <fieldset>
      <label>Temperature</label>
      <div>
        <%= sample.temperature %>
      </div>
    </fieldset>
    
    <fieldset>
      <label>Type</label>
      <div>
        <%= sample.sample_type.name if sample.sample_type %>
      </div>
    </fieldset>
  </div>
  <% end %>
</div>
<% elsif @order.order_type_id == 4 %>
<div class="box grid_16 clearfix" id="quick_order">
  <h2 class="box_head" id="form_title">Quick Order</h2>
  <div class="block">
      <fieldset>
        <label>Description</label>
        <div class="clearfix">
          <%= @order.description %>
        </div>
      </fieldset>     
  </div>
</div>
<% end %>

<div class="box grid_16 clearfix">
  <h2 class="box_head" id="form_title">Additional Info</h2>
  <div class="block">

          <fieldset>
            <label>Order Placed By</label>
            <div>
                <%= @order.submitted_by.layout_name if @order.submitted_by %>
            </div>
          </fieldset>


          <fieldset>
            <label>Delivery Site</label>
            <div>
                <%= @order.delivery_user.name if @order.delivery_user %>
            </div>
          </fieldset>
      
           <% if @order.picked_up_at %>

            <fieldset>
              <label>Pick Up Date</label>
              <div>
                <%= nice_date(@order.picked_up_at) %>
              </div>
            </fieldset>

          <% end %>          

          <% if @order.carrier %>

          <% if @order.carrier.role == "3" %>

            <fieldset>
              <label>Carrier Company</label>
              <div>
                <%= @order.carrier.name if @order.carrier %>
              </div>
            </fieldset>

            <fieldset>
              <label>Driver</label>
              <div>
                <%= @order.driver.name if @order.driver %>
              </div>
            </fieldset>

            <fieldset>
              <label>Area</label>
              <div>
                <%= @order.area %>
              </div>
            </fieldset>


          <% elsif @order.carrier.role == "5" %>

            <fieldset>
              <label>CPL Driver</label>
              <div>
                <%= @order.carrier.name if @order.carrier %>
              </div>
            </fieldset>

          <% end %>

          <% end %>

          <% if @order.picked_up_by %>

            <fieldset>
              <label>Received By</label>
              <div>
                <%= @order.picked_up_by %>
              </div>
            </fieldset>

          <% end %>

          <% if @order.delivered_at %>

            <fieldset>
              <label>Delivery Date</label>
              <div>
                <%= nice_date(@order.delivered_at) %>
              </div>
            </fieldset>

          <% end %>          
          
      <fieldset>
        <label></label>
        <div>
          <% if @order.urgency == "yes" %>
            STAT
          <% else %>
            ROUTINE
          <% end %>
        </div>
      </fieldset> 

      <fieldset>
        <label>Additional Comments</label>
        <div class="clearfix">
          <%= @order.comments %>
        </div>
      </fieldset>     
      
  </div>
</div>
