<div class="box grid_16">
	<h2 class="box_head"><%= @title %></h2>
	<div class="block">
		<%= form_for(@site, :html => { :class => "validate_form"}) do |f| %>
  			<% if @site.errors.any? %>
    			<div id="error_explanation">
      				<h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>
					<ul>
      					<% @site.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
      				</ul>
    			</div>
  			<% end %>

			<div class="columns clearfix">
				<div class="col_50">
					<fieldset class="label_side label_small">
						<label for="text_field_inline">Name</label>
						<div>
							<%= f.text_field :name, :class => "required" %>
						</div>
					</fieldset>
				</div>
			</div>


			<fieldset class="label_side label_small">
			<label for="text_field_inline">Address</label>
				<div>
					<%= f.text_area :address, :class => "autogrow required", :rows => "4" %>
				</div>
			</fieldset>

			<%= hidden_field_tag "is_site", "yes" %>	
			<% if @act == "or" %>
				<%= f.hidden_field :password, :value => "qawsedrf" %>	
				<%= f.hidden_field :role, :value => "4" %>		
			<% else %>
				<%= f.hidden_field :password, :value => "qawsedrf" %>	
				<%= f.hidden_field :role, :value => "2" %>	
			<% end %>

			<div class="button_bar clearfix">
				<button class="blue" type="submit">
					<span>Submit</span>
				</button>
				<button class="light send_right" type="reset">
					<span>Reset</span>
				</button>
			</div>
			
	<% end %>
	</div>
</div>