<li class="icon_only">
	<a href="#" class="pjax"><img src="/assets/icons/small/grey/laptop.png"/><span class="display_none">Home</span></a>
</li>

<% if !mobile_device? %>
<li>
	<%= link_to orders_path do %><img src="/assets/icons/small/grey/mail.png"/><span>Orders</span><% end %>
	<ul class="open_multiple">
		<li><%= link_to new_order_path, :class => "pjax" do %><span>Make Order</span><% end %></li>
		<li><%= link_to orders_path do %><span>View All</span><% end %></li>
	</ul>
</li>
				
<li><%= link_to users_path do %><img src="/assets/icons/small/grey/users.png"/><span>Users</span><% end %>
	<ul>
		<li><%= link_to users_path, :class => "pjax" do %><span>View All</span><% end %></li>
		<li><%= link_to new_user_path, :class => "pjax" do %><span>New User</span><% end %></a></li>
	</ul>
</li>

<li><%= link_to sample_types_path do %><img src="/assets/icons/small/grey/clipboard.png"/><span>Sample Types</span><% end %>
	<ul>
		<li><%= link_to sample_types_path, :class => "pjax" do %><span>View All</span><% end %></li>
		<li><%= link_to new_sample_type_path, :class => "pjax" do %><span>New Sample Type</span><% end %></a></li>
	</ul>
</li>

<% else %>

<li><%= link_to orders_path do %><img src="/assets/icons/small/grey/mail.png"/><span>Orders</span><% end %></li>

<li><%= link_to new_order_path, :class => "pjax" do %><span>Make Order</span><% end %></li>				

<li><%= link_to users_path do %><img src="/assets/icons/small/grey/users.png"/><span>Users</span><% end %></li>

<li><%= link_to new_user_path, :class => "pjax" do %><span>New User</span><% end %></a></li>

<li><%= link_to sample_types_path do %><img src="/assets/icons/small/grey/clipboard.png"/><span>Sample Types</span><% end %></li>

<li><%= link_to new_sample_type_path, :class => "pjax" do %><span>New Sample Type</span><% end %></a></li>

<% end %>