<li class="icon_only">
	<a href="#" class="pjax"><img src="/assets/icons/small/grey/laptop.png"/><span class="display_none">Home</span></a>
</li>

<li>
	<a href="/sent"><img src="/assets/icons/small/grey/mail.png"/><span>Orders</span><div class="alert badge"><%= Order.all.size %></div></a>
	<ul class="open_multiple">
		<li><%= link_to new_order_path, :class => "pjax" do %><span>Make Order</span><% end %></li>
		<li><%= link_to orders_path do %><span>View All</span><div class="alert badge"><%= Order.all.size %></div><% end %></li>
	</ul>
</li>
				
<li><%= link_to sites_path do %><img src="/assets/icons/small/grey/apartment_building.png"/><span>Sites</span><% end %>
	<ul>
		<li><%= link_to sites_path, :class => "pjax" do %><span>View All</span><% end %></li>
		<li><%= link_to new_site_path, :class => "pjax" do %><span>New Site</span><% end %></a></li>
	</ul>
</li>

<li><%= link_to users_path do %><img src="/assets/icons/small/grey/users.png"/><span>Users</span><% end %>
	<ul>
		<li><%= link_to users_path, :class => "pjax" do %><span>View All</span><% end %></li>
		<li><%= link_to new_user_path, :class => "pjax" do %><span>New User</span><% end %></a></li>
	</ul>
</li>